.menu-container{
    background: #f2f2f2;
}
.menu-row{
    height:5rem;
    border-radius: 5px;
    width:98%;
    margin:0 auto;
}
.menu-row>.menu-cell{
    height:100%;
    position: relative;
    margin-left: 1px;
}
.menu-row>.menu-cell a{
    height:50%;
    line-height: 2.5rem;
    margin-bottom: 1px;
}
.menu-row>.menu-cell a:only-child{
    height:100% !important;
    line-height: 5rem;
}
.menu-row a{
    display: inline-block;
    color: #fff;
    width:100%;
    text-align: center;
}
.hotel.menu-row a{
    background-color: #ff697a;
}
.ticket.menu-row a{
    background-color: #3d98ff;
}
.travel.menu-row a{
    background-color: #44c522;
}
.other.menu-row a{
    background-color: #fc9720;
}

.small.menu-row{
    height:12rem;
}
.small.menu-row a{
    height:32.3%;
    line-height: 1rem;
    color:black;
    background-color: white;
}
.small em{
    font-style: normal;
    display: block;
}
.small .icon{
    margin-top: 0.3rem;
    width:20px;
    height:20px;
    display: inline-block;
    background-size: 20px auto;
    background-image: url(http://pic.c-ctrip.com/platform/h5/home/un_ico_subnav_v7.5@2x.png);
}

/* 自由行 */
.icon-freestyle{
    background-position: 0 -80px;
}

/* 机场停车 */
.icon-airpark{
    background-position: 0 -20px;
}

/* 微领队 */
.icon-groupleader{
    background-position: 0 -292px;
}
/* 外币兑换 */
.icon-foreign-currency{
    background-position: 0 -200px;
}

/* 加盟合作 */
.icon-join{
    background-position: 0 -220px;
}