/*类型*/
.topic-type-container{

}
.list-container{
    /* background-color: pink; */
}
.item-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #f0f0f0;
}
.item-avatar{
    width: 2rem;
    height: 2rem;
    background-size: contain;
    margin:0.5rem;
}
.item-article{
    width:18rem;
    /* border:1px solid blue; */
}
.item-article-title{
    
}
.item-article-title a{
    color: #333;
}
.item-article-title a:visited{
    color: #888;
}
.item-article-content{

}
.item-date{
    width:8em;
    text-align: center;
}
.item-article-count{
    font-size: 10px;
}
/*回复数*/
.item-article-reply-count{
    color:#9e78c0;
}
/*访问数*/
.item-article-visit-count{
    color:#b4b4b4;
}